.selected-sub-title {
    border: 1px solid gray;
    border-bottom: 1px solid white;
    border-radius: 5px 5px 0px 0px;
}
.sub-title .selected-sub-title a {
    color: black;
}
.dropdown-menus {
    width: 102%;
}
.meeting-date {
    font-size: 1.3em;
    font-weight: 700;
}
.meeting-time {
    font-size: 0.9em;
}
.search-result {
    border: 1px solid rgb(161, 160, 160);
    padding: 1.25em 1.75em;
    border-radius: 5px;
    margin: 20px 0 30px 0;
}
.search-result:hover {
    -webkit-box-shadow: 0 0 15px rgb(2, 126, 198);
    box-shadow: 0 0 15px rgb(0, 162, 255);
    border-radius: 0px;

}
.select-member {
    padding: 8px;
}

.select-mem-divs .btn {
    margin-left: 6px;
    padding: 11px 20px 10px 20px;
}
