header {
  width: 100%;
}
nav {
  background-color: rgba(231, 232, 232, 0.998);
  height: 43px;
}
body {
  margin: 0;
  padding: 0;
}

.nav-ele-grid {
  display: grid;
  gap: 3em;
  grid-template-columns: 45% 50%;
  justify-content: space-between;
}
.nav-ele-grid .left-menu {
  /* for subgroup */
  display: inline;
}

.nav-ele-grid .right-menu {
  /* for subgroup */
  display: inline;
}
.test1 {
  width: 100px;
  float: left;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}

.nav-items {
  padding: 12px 10px;
  width: auto;
}

.nav-items:hover {
  transition: 0.3s ease all;
  padding-bottom: 9px;
  border-bottom: 3px solid rgb(4, 163, 255);
  background-color: rgba(173, 214, 220, 0.578);
}
#log-out {
  cursor: pointer;
}
